<section class="proyectos">
	<h2 class="text-center">Proyectos</h2>
<div class="card-deck">
	<div class="card">
			<img class="card-img-top" src="./assets/img/barberia Alura.png" alt="Barberia Alura">
			<div class="card-block">
					<h4 class="card-title text-center">Barbería Alura</h4>
					<p class="card-text text-center">
							Ven a conocernos
					</p>
					<a href="https://silver-starship-0ad0bd.netlify.app/" target="_blank" class="btn btn-outline-secondary btn-sm">
						<i>Haz clic</i></a>			
			</div>
	</div>

	<div class="card">
			<img class="card-img-top" src="./assets/img/Encriptador de texto_2.png">
			<div class="card-block">
					<h4 class="card-title">Encriptador de Texto</h4>
					<p class="card-text">
							¿Quieres jugar?
					</p>
					<a href="https://153patri.github.io/challenge-encriptador/" target="_blank" class="btn btn-outline-secondary btn-sm">
						<i>Haz clic</i></a>	
			</div>
	</div>

	<div class="card">
			<img class="card-img-top" src="./assets/img/El-Ahorcado .png">
			<div class="card-block">
					<h4 class="card-title">Juego El Ahorcado</h4>
					<p class="card-text">
							¡Intèntalo, adivina la palabra secreta!
					</p>
					<a href="https://153patri.github.io/el_ahorcado/" target="_blank" class="btn btn-outline-secondary btn-sm">
						<i>Haz clic</i></a>				
			</div>
	</div>
</div>
</section>

